OPENAI_API_KEY= // OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxx
JIRA_BASE_URL= //JIRA_BASE_URL=https://valueaddsofttech.atlassian.net
JIRA_EMAIL=//abc@valueaddsofttech.com
JIRA_API_TOKEN=//JIRA_API_TOKEN=your_jira_api_token_here